{
  "trailingComma": "all",
  "tabWidth": 2,
  "tabs": false,
  "semi": true,
  "noSemi": false,
  "singleQuote": true,
  "bracketSpacing": true,
  "jsxSingleQuote": false,
  "jsxBracketSameLine": false,
  "arrowParens": "avoid",
  "endOfLine": "lf",
  "printWidth": 120
}
